body {
    background-image: url(assets/bg.jpg);
    background-size: 100vw;
    font-family: 'Share Tech Mono', monospace;
    font-family: 'Sono', sans-serif;
    overflow: hidden;
}

h2,
h3,
p {
    text-align: center;
}

.panel {
    position: relative;
    min-height: 80vh;
    max-width: 100vw;
    margin: 10vh 5vw 10vh 5vw;
    background-color: rgb(255, 230, 38, 0.8);
    visibility: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.check {
    display: flex;
    justify-content: center;
}

.check-box-text {
    position: relative;
    top: -8px;
    margin-left: 20px;
}

.ready-button {
    display: flex;
    justify-content: center;
}

.next-button {
    display: flex;
    justify-content: center;
}

.video {
    display: flex;
    margin-bottom: 5vh;
    flex-direction: column; 
    align-items: center;
}

/* checkbox code */
.container {
    display: block;
    height: 1.5em;
    width: 1.5em;
    cursor: pointer;
    position: relative;
}

.container input {
    position: absolute;
    transform: scale(0);
}

.container input:checked~.checkmark {
    transform: rotate(45deg);
    height: 2em;
    width: .7em;
    border-color: #32cd32;
    border-top-color: transparent;
    border-left-color: transparent;
    border-radius: 0;
}

.container .checkmark {
    display: block;
    width: inherit;
    height: inherit;
    border: 2px solid #32cd32;
    border-radius: 4px;
    transition: all .3s;
}

/* button code */

#ready-button {
    visibility: hidden;
}

button {
    --green: #1BFD9C;
    font-size: 15px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--green);
    background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%, transparent 60%, rgba(27, 253, 156, 0.1) 100%);
    color: var(--green);
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
}

button:hover {
    color: #82ffc9;
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
}

button:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%, rgba(27, 253, 156, 0.1) 60%, transparent 100%);
}

button:hover:before {
    transform: translateX(15em);
}